@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: 0; 
}
/* font-family: "Kaisei HarunoUmi", serif;
font-family: "Julius Sans One", system-ui; */

.headerInicio div {
    background-color: rgb(185,181,181);
    font-family: "Kaisei HarunoUmi", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: rgb(72, 69, 69);
}

.headerInicio div img {
    width: 50px;
    border-radius: 100px;
    margin: 5px;
}

footer {
    background-color:rgb(185,181,181);
    font-family: "Julius Sans One", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer img {
    width: 60px;
}

.navFondo {
    background-image: url(../assets/img/marbel\ nav.avif);
    font-family: "Julius Sans One", system-ui;
    margin: auto;
}

.navBarra{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 20px;
}
.navBarra li a{
    text-decoration: none;
    color: black;
}
.navFondo img {
    width: 30px;
}

.logoPrincipio{
    background-image: url(../assets/img/fondo\ inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50.75rem;
    width: 118.950rem;
    font-family: "Kaisei HarunoUmi", serif;
    display: flex;
    align-items: center;
    justify-content: left;
}

.logoPrincipio div h2 {
    border: solid 2px black;
    border-radius: 0rem 3.125rem 3.125rem 0rem;
    background-color: rgb(185,181,181);
    color: rgb(72	69	69);
    width: 605px;
    font-size: 96px;
    padding-left: 20px;
    margin-bottom: 1.25rem;
}

.logoPrincipio div h3{
    border: solid 2px black;
    border-radius: 0rem 3.125rem 3.125rem 0rem;
    background-color: rgb(185,181,181);
    color: rgb(72	69	69);
    width: 525px;
    font-size: 24px;
    padding-left: 20px;
    display: flex;
    justify-content: end;
}

.logoPrincipio div img {
    width: auto;
    height: 3.5rem;
    margin-top:.625rem;
}

.fondoFrase {
    background-image: url(../assets/img/marbel\ nav.avif);
    font-family: "Kaisei HarunoUmi", serif;
    height: 600px;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fondoFrase img{
    width: 33.5rem;
    height: 21.875rem;
    border-radius: .9375rem;
    border: solid .125rem black;
}

.fondoFrase article{
    border: solid 2px black;
    border-radius: 5.3125rem;
    background-color: rgb(217 217 217);
    width: 36.75rem;
    height: 15.375rem;
    padding: 20px;
}

.fondoFrase article p{
    margin: 25px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
.fondoPilares {
    background-image: url(../assets/img/marbel\ inicio\ fondo.avif);
    font-family: "Julius Sans One", system-ui;
    width: auto;
    height: 63.25rem;
}

.fondoPilares h3{
    display: flex;
    justify-content: center;
    padding: 3.75rem;
    font-size: 1.625rem;
}

.tarjetasPilares {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tarjetasPilares article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.75rem;
    gap: 1.875rem;
}

.tarjetasPilares article img{
    height: 10.3125rem;
    width: 10.25rem;
    border: solid .125rem black;
    border-radius: 1.5625rem;
}

.tarjetasPilares article h4{
    padding: .625rem;
    border-top: solid .0625rem black;
    border-bottom: solid .0625rem black;
    font-size: 1.625rem;
}

.tarjetasPilares article p{
    width: 28rem;
    font-family: "Kaisei HarunoUmi", serif;
    text-align: center;
}

.fondoAboutUs {
    background-image: url(../assets/img/NYC\ foto.jpg);
    font-family: "Kaisei HarunoUmi", serif;
    width: auto;
    height: 21.0625rem;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondoAboutUs div h2{
    border-radius: 3.125rem;
    background-color: rgb(217, 217, 217, 0.5);
    padding: 1.25rem;
    width: 25rem;
    text-align: center;
}

.textoSobreNosotros{
    font-family: "Kaisei HarunoUmi", serif;
    background-image: url(../assets/img/marbel\ inicio\ fondo.avif);
    padding: 2.5rem;
}

.textoSobreNosotros img {
    width: 500px;
}

.fundacionEmpresa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3.125rem;
    gap: 4.375rem;
}

.fundacionEmpresa div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

.fundacionEmpresa div h3{
    border-bottom: solid .125rem black;
    font-size: 1.75rem;
}

.fundacionEmpresa div p{
    width: 25rem;
    text-align: center;
}

.fundacionEmpresa img{
    width: 34.1875rem;
    height: 17.6875rem;
    border-radius: .9375rem;
    border: solid 1px black;
}

.recorridosRealizados {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    gap: 4.375rem;
}

.recorridosRealizados div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

.recorridosRealizados div h3{
    border-bottom: solid .125rem black;
    font-size: 1.75rem;
}

.recorridosRealizados div p{
    width: 25rem;
    text-align: center;
}

.recorridosRealizados img{
    width: 34.1875rem;
    height: 19.375rem;
    border-radius: .9375rem;
    border: solid .0625rem black;
}

.motivacionesPlanes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    gap: 4.375rem;
}

.motivacionesPlanes div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

.motivacionesPlanes div h3{
    border-bottom: solid .125rem black;
    font-size: 1.75rem;
}

.motivacionesPlanes div p {
    width: 25rem;
    text-align: center;
}

.motivacionesPlanes img{
    width: 34.1875rem;
    height: 19.375rem;
    border-radius: .9375rem;
    border: solid .0625rem black;
}

.comentarios {
    font-family: "Kaisei HarunoUmi", serif;
    background-image: url(../assets/img/marbel\ inicio\ fondo.avif);
    height: 37.5rem;
}

.comentarios h2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(185,181,181);
    height: 5.625rem;
}

.imagenComentarios {
    width: 17.625rem;
    height: 24.25rem;
    border: solid .125rem black;
    border-radius: .9375rem;
    grid-area: imagenComentarios;
}

.gridComentarios {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "comentario1 comentario2 imagenComentarios"
    "comentario3 comentario4 imagenComentarios"
    "comentario5 comentario6 imagenComentarios" 
    "comentarioFinal comentarioFinal imagenComentarios";
    column-gap: 6.25rem;
    row-gap: 1.25rem;
    padding: 3.5rem;
    justify-items: center;
}

.comentario1 {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: .625rem;
    grid-area: comentario1;
}

.comentario2 {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: .625rem;
    grid-area: comentario2;
}

.comentario3 {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: .625rem;
    grid-area: comentario3;
}

.comentario4 {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: .625rem;
    grid-area: comentario4;
}

.comentario5 {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: .625rem;
    grid-area: comentario5;
}

.comentario6{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: .625rem;
    grid-area: comentario6;
}

.comentario1 img{
    width: 2.375rem;
    border-radius: 100%;
    background-color: rgb(185,181,181);
    padding: .625rem;
}

.comentario2 img{
    width: 2.375rem;
    border-radius: 100%;
    background-color: rgb(185,181,181);
    padding: .625rem;
}

.comentario3 img {
    width: 2.375rem;
    border-radius: 100%;
    background-color: rgb(185,181,181);
    padding: .625rem;
}

.comentario4 img{
    width: 2.375rem;
    border-radius: 100%;
    background-color: rgb(185,181,181);
    padding: .625rem;
}

.comentario5 img{
    width: 2.375rem;
    border-radius: 100%;
    background-color: rgb(185,181,181);
    padding: .625rem;
}

.comentario6 img{
    width: 2.375rem;
    border-radius: 100%;
    background-color: rgb(185,181,181);
    padding: .625rem;
}

.comentario1 p{
    border-radius: 1.875rem;
    background-color: rgb(204, 211, 238);
    padding: .9375rem;
    font-size: 1rem;
    width: 31.25rem;
}

.comentario2 p{
    border-radius: 1.875rem;
    background-color: rgb(204, 211, 238);
    padding: .9375rem;
    font-size: 1rem;
    width: 31.25rem;
}

.comentario3 p{
    border-radius: 1.875rem;
    background-color: rgb(204, 211, 238);
    padding: .9375rem;
    font-size: 1rem;
    width: 31.25rem;
}

.comentario4 p{
    border-radius: 1.875rem;
    background-color: rgb(204, 211, 238);
    padding: .9375rem;
    font-size: 1rem;
    width: 31.25rem;
}

.comentario5 p{
    border-radius: 1.875rem;
    background-color: rgb(204, 211, 238);
    padding: .9375rem;
    font-size: 1rem;
    width: 31.25rem;
}

.comentario6 p{
    border-radius: 1.875rem;
    background-color: rgb(204, 211, 238);
    padding: .9375rem;
    font-size: 1rem;
    width: 31.25rem;
}

.comentarioFinal{
    grid-area: comentarioFinal;
    width: 62.5rem;
    text-align: center;
    border-radius: 1.875rem;
    background-color: rgb(204, 211, 238);
    font-size: 1rem;
    padding: .9375rem;
}

.destinosInicio {
    background-image: url(../assets/img/fondo\ destinos.jpg);
    font-family: "Kaisei HarunoUmi", serif;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18.75rem;
    padding: 2.5rem;
}

.destinosInicio h2{
    color: white;
    font-size: 8rem;
}

.destinosInicio img{
    width: 15rem;
    position: absolute;
    top: 23rem;
    right: 25.900rem;
    transform: translate(-50%, -50%);
}

.fondoDestinos {
    font-family: "Kaisei HarunoUmi", serif;
    background-image: url(../assets/img/fondo\ destinos\ marbel.jpg);
    color: white;
    background-size: cover;
    padding: 3.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 4.375rem;
}

.fondoDestinos h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    background-image: url(../assets/img/marbel-destinos.jpg);
    background-size: cover;
    border-radius: 1.5625rem;
    width: 22.875rem;
    height: 4.8125rem;
}

.cardConteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 37.5rem;
    gap: 9.375rem
}

.card {
    width: 200px;
    height: 300px;
    background-color: rgb(185,181,181);
    border-radius: 1.5625rem;
    padding: 1.875rem;
    ;
}

.cardImagen {
    width: 100%;
    height: 50%;
}

.cardImagen img {
    width: 100%;
    height: 100%;
    border-radius: .9375rem;
}

.cardNombre {
    text-align: center;
    color: black;
    font-family: "Kaisei HarunoUmi", serif;
    padding-top: 3.125rem;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
}



.fondoFormularios {
    background-image: url(../assets/img/fondo\ formularios.jpg);
    font-family: "Kaisei HarunoUmi", serif;
    height:  56.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7.5rem;
    padding: 9.375rem;
}

.tituloRegistrarse{
    font-size: 2rem;
}

.formularioRegistrarse{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5625rem;
    background-color: rgb(185,181,181);
    width: 31.25rem;
    height: 18.75rem;
    text-align: center;
}

.fondoFormularioIniciar{
    background-image: url(../assets/img/fondo\ formularios.jpg);
    font-family: "Kaisei HarunoUmi", serif;
    height:  56.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7.5rem;
    padding: 9.375rem;
}

.tituloIniciarSesion{
    font-size: 2rem;
}

.formularioIniciarSesion{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5625rem;
    background-color: rgb(185,181,181);
    width: 31.25rem;
    height: 18.75rem;
    text-align: center;
}

.formularioIniciarSesion div form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.formularioIniciarSesion div form input{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5625rem;
    background-color:rgb(217 217 217) ;
    border: none;
    padding: .625rem;
}

.formularioIniciarSesion div form input:hover {
    font-weight: bold;
}

.fondoReservas {
    background-image: url(../assets/img/fondo\ marbel\ rservas.jpg);
    font-family: "Kaisei HarunoUmi", serif;
}

a:hover {
    font-weight: bold;
    color: rgba(185, 181, 181, 0.822);
}

