/*

Import de Utilities

*/
/*

Import de Base

*/
@import url("https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/* font-family: "Kaisei HarunoUmi", serif;
font-family: "Julius Sans One", system-ui; */
/*

Import de Layout

*/
.headerInicio div {
  background-color: rgb(185, 181, 181);
  font-family: "Kaisei HarunoUmi", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: rgb(72, 69, 69);
}
.headerInicio div img {
  width: 50px;
  border-radius: 100px;
  margin: 5px;
}
.headerInicio div a {
  color: rgb(72, 69, 69);
  text-decoration: none;
}

.navFondo {
  background-image: url(../assets/img/marbel\ nav.avif);
  font-family: "Julius Sans One", system-ui;
  margin: auto;
}
.navFondo img {
  width: 30px;
}

.navBarra {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 20px;
  position: relative;
}
.navBarra li {
  position: relative;
}
.navBarra li a {
  text-decoration: none;
  color: black;
}
.navBarra li ul {
  position: absolute;
  top: 100%;
  left: 0;
  height: 0;
  overflow: hidden;
  list-style: none;
  background-image: url(../assets/img/marbel\ nav.avif);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: max-height 0.3s ease;
  z-index: 1;
  gap: 0.625rem;
}
.navBarra li ul li {
  padding: 5px 10px;
}
.navBarra li :hover ul {
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 10px 0;
  height: auto;
}
.navBarra li :hover ul li {
  padding: 5px 10px;
}

.formBuscar {
  display: flex;
  align-items: center;
  border-radius: 25px;
  background-color: rgb(217, 217, 217);
  padding: 0.625rem;
  gap: 0.9375rem;
  width: 18.75rem;
}
.formBuscar input {
  background-color: rgb(217, 217, 217);
  border: none;
}
.formBuscar input :hover {
  border: none rgb(217, 217, 217) solid;
  font-weight: bold;
  color: rgba(185, 181, 181, 0.822);
}

.logoPrincipio {
  background-image: url(../assets/img/fondo\ inicio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50.75rem;
  width: 118.95rem;
  font-family: "Kaisei HarunoUmi", serif;
  display: flex;
  align-items: center;
  justify-content: left;
}
.logoPrincipio div h2 {
  border: solid 2px black;
  border-radius: 0rem 3.125rem 3.125rem 0rem;
  background-color: rgb(185, 181, 181);
  color: rgb(72, 69, 69);
  width: 605px;
  font-size: 96px;
  padding-left: 20px;
  margin-bottom: 1.25rem;
}
.logoPrincipio div h3 {
  border: solid 2px black;
  border-radius: 0rem 3.125rem 3.125rem 0rem;
  background-color: rgb(185, 181, 181);
  color: rgb(72, 69, 69);
  width: 525px;
  font-size: 24px;
  padding-left: 20px;
  display: flex;
  justify-content: end;
}
.logoPrincipio div img {
  width: auto;
  height: 3.5rem;
  margin-top: 0.625rem;
}

.fondoFrase {
  background-image: url(../assets/img/marbel\ nav.avif);
  font-family: "Kaisei HarunoUmi", serif;
  height: 600px;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fondoFrase img {
  width: 33.5rem;
  height: 21.875rem;
  border-radius: 0.9375rem;
  border: solid 0.125rem black;
}
.fondoFrase article {
  border: solid 2px black;
  border-radius: 5.3125rem;
  background-color: rgb(217, 217, 217);
  width: 36.75rem;
  height: 15.375rem;
  padding: 20px;
}
.fondoFrase article p {
  margin: 25px;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.fondoPilares {
  background-image: url(../assets/img/marbel\ inicio\ fondo.avif);
  font-family: "Julius Sans One", system-ui;
  width: auto;
  height: 63.25rem;
}
.fondoPilares h3 {
  display: flex;
  justify-content: center;
  padding: 3.75rem;
  font-size: 1.625rem;
}

.fondoAboutUs {
  background-image: url(../assets/img/NYC\ foto.jpg);
  font-family: "Kaisei HarunoUmi", serif;
  width: auto;
  height: 21.0625rem;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fondoAboutUs div h2 {
  border-radius: 3.125rem;
  background-color: rgba(217, 217, 217, 0.5);
  padding: 1.25rem;
  width: 25rem;
  text-align: center;
}

.textoSobreNosotros {
  font-family: "Kaisei HarunoUmi", serif;
  background-image: url(../assets/img/marbel\ inicio\ fondo.avif);
  padding: 2.5rem;
}
.textoSobreNosotros img {
  width: 500px;
}

.fundacionEmpresa, .motivacionesPlanes, .recorridosRealizados {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3.125rem;
  gap: 4.375rem;
}
.fundacionEmpresa div, .motivacionesPlanes div, .recorridosRealizados div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}
.fundacionEmpresa div h3, .motivacionesPlanes div h3, .recorridosRealizados div h3 {
  border-bottom: solid 0.125rem black;
  font-size: 1.75rem;
}
.fundacionEmpresa div p, .motivacionesPlanes div p, .recorridosRealizados div p {
  width: 25rem;
  text-align: center;
}
.fundacionEmpresa img, .motivacionesPlanes img, .recorridosRealizados img {
  width: 34.1875rem;
  height: 19.375rem;
  border-radius: 0.9375rem;
  border: solid 0.0625rem black;
}

.comentarios {
  font-family: "Kaisei HarunoUmi", serif;
  background-image: url(../assets/img/marbel\ inicio\ fondo.avif);
  height: 37.5rem;
}
.comentarios h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(185, 181, 181);
  height: 5.625rem;
}

.imagenComentarios {
  width: 17.625rem;
  height: 24.25rem;
  border: solid 0.125rem black;
  border-radius: 0.9375rem;
  grid-area: imagenComentarios;
}

.gridComentarios {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "comentario1 comentario2 imagenComentarios" "comentario3 comentario4 imagenComentarios" "comentario5 comentario6 imagenComentarios" "comentarioFinal comentarioFinal imagenComentarios";
  column-gap: 6.25rem;
  row-gap: 1.25rem;
  padding: 3.5rem;
  justify-items: center;
}

.comentario1, .comentario6, .comentario5, .comentario4, .comentario3, .comentario2 {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.625rem;
  grid-area: comentario1;
}
.comentario1 img, .comentario6 img, .comentario5 img, .comentario4 img, .comentario3 img, .comentario2 img {
  width: 2.375rem;
  border-radius: 100%;
  background-color: rgb(185, 181, 181);
  padding: 0.625rem;
}
.comentario1 p, .comentario6 p, .comentario5 p, .comentario4 p, .comentario3 p, .comentario2 p {
  border-radius: 1.875rem;
  background-color: rgb(204, 211, 238);
  padding: 0.9375rem;
  font-size: 1rem;
  width: 31.25rem;
}

.comentario2 {
  grid-area: comentario2;
}

.comentario3 {
  grid-area: comentario3;
}

.comentario4 {
  grid-area: comentario4;
}

.comentario5 {
  grid-area: comentario5;
}

.comentario6 {
  grid-area: comentario6;
}

.comentarioFinal {
  grid-area: comentarioFinal;
  width: 62.5rem;
  text-align: center;
  border-radius: 1.875rem;
  background-color: rgb(204, 211, 238);
  font-size: 1rem;
  padding: 0.9375rem;
}

.destinosInicio {
  background-image: url(../assets/img/fondo\ destinos.jpg);
  font-family: "Kaisei HarunoUmi", serif;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18.75rem;
  padding: 2.5rem;
}
.destinosInicio h2 {
  color: white;
  font-size: 8rem;
}
.destinosInicio img {
  width: 15rem;
  position: absolute;
  top: 23rem;
  right: 25.9rem;
  transform: translate(-50%, -50%);
}

.fondoDestinos {
  font-family: "Kaisei HarunoUmi", serif;
  background-image: url(../assets/img/fondo\ destinos\ marbel.jpg);
  color: white;
  background-size: cover;
  padding: 3.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 4.375rem;
}
.fondoDestinos h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.25rem;
  background-image: url(../assets/img/marbel-destinos.jpg);
  background-size: cover;
  border-radius: 1.5625rem;
  width: 22.875rem;
  height: 4.8125rem;
}

.fondoReservas {
  background-image: url(../assets/img/fondo\ marbel\ rservas.jpg);
  font-family: "Kaisei HarunoUmi", serif;
  height: 56.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7.5rem;
  padding: 9.375rem;
}

.tituloReservas {
  font-size: 2.5rem;
}

.reservasFormEstilos {
  background-color: rgb(203, 196, 196);
  border-radius: 1.5625rem;
  padding: 1.875rem;
}

.reservasForm {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: none;
  grid-template-areas: "gridReservas-1 gridReservas-1 gridReservas-1" "gridReservas-2 none gridReservas-3";
  column-gap: 3.75rem;
  row-gap: 0.625rem;
  padding-bottom: 1.25rem;
}

.reservasForm input:hover {
  font-weight: bold;
}

.reservasForm select:hover {
  font-weight: bold;
}

.gridReservas-1 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "cantPersonas fechaInicio fechaRegreso" "selector fechaInicioInput fechaRegresoInput";
  column-gap: 0.9375rem;
  padding: 0.625rem;
  grid-area: gridReservas-1;
  gap: 0.3125rem;
}

.gridReservas-1 input {
  border-radius: 1.5625rem;
  background-color: rgb(217, 217, 217);
  border: none;
  padding: 0.3125rem;
}

.gridReservas-1 select {
  border-radius: 1.5625rem;
  background-color: rgb(217, 217, 217);
  border: none;
  padding: 0.3125rem;
}

.cantPersonas {
  grid-area: cantPersonas;
}

.selector {
  grid-area: selector;
  width: 6.25rem;
}

.fechaInicio {
  grid-area: fechaInicio;
  text-align: center;
}

.fechaInicioInput {
  grid-area: fechaInicioInput;
}

.fechaRegreso {
  grid-area: fechaRegreso;
  text-align: center;
}

.fechaRegresoInput {
  grid-area: fechaRegresoInput;
}

.gridReservas-2 {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: none;
  grid-template-areas: "destino" "pais" "paisInput" "ciudad" "ciudadInput" "hotel" "hotelInput" "aerolinea" "aerolineaInput" "reservasInput";
  grid-area: gridReservas-2;
  padding: 0.625rem;
  row-gap: 0.625rem;
}

.gridReservas-2 input {
  border-radius: 1.5625rem;
  background-color: rgb(217, 217, 217);
  border: none;
  padding: 0.625rem;
}

.destino {
  grid-area: destino;
}

.pais {
  grid-area: pais;
}

.paisInput {
  grid-area: paisInput;
  width: 15.625rem;
}

.ciudad {
  grid-area: ciudad;
}

.ciudadInput {
  grid-area: ciudadInput;
  width: 15.625rem;
}

.hotel {
  grid-area: hotel;
}

.hotelInput {
  grid-area: hotelInput;
  width: 15.625rem;
}

.aerolinea {
  grid-area: aerolinea;
}

.aerolineaInput {
  grid-area: aerolineaInput;
  width: 15.625rem;
}

.reservasInput {
  grid-area: reservasInput;
  width: 6.25rem;
  text-align: center;
}

.gridReservas-3 {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: none;
  grid-template-areas: "datos" "nombreIntegrante" "nombreIntegranteInput" "apellidoIntegrante" "apellidoIntegranteInput" "edadIntegrante" "edadIntegranteInput" "dni" "dniInput" "numeroTelefono" "numeroTelefonoInput";
  grid-area: gridReservas-3;
  border-left: solid black 2px;
  padding-left: 1.25rem;
  row-gap: 0.625rem;
}

.gridReservas-3 input {
  border-radius: 1.5625rem;
  background-color: rgb(217, 217, 217);
  border: none;
  padding: 0.625rem;
}

.datos {
  grid-area: datos;
}

.nombreIntegrante {
  grid-area: nombreIntegrante;
}

.nombreIntegranteInput {
  grid-area: nombreIntegranteInput;
  width: 15.625rem;
}

.apellidoIntegrante {
  grid-area: apellidoIntegrante;
}

.apellidoIntegranteInput {
  grid-area: apellidoIntegranteInput;
  width: 15.625rem;
}

.edadIntegrante {
  grid-area: edadIntegrante;
}

.edadIntegranteInput {
  grid-area: edadIntegranteInput;
  width: 15.625rem;
}

.dni {
  grid-area: dni;
}

.dniInput {
  grid-area: dniInput;
  width: 15.625rem;
}

.numeroTelefono {
  grid-area: numeroTelefono;
}

.numeroTelefonoInput {
  grid-area: numeroTelefonoInput;
  width: 15.625rem;
}

footer {
  background-color: rgb(185, 181, 181);
  font-family: "Julius Sans One", system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
footer img {
  width: 60px;
}

/*

Import de Components

*/
.tarjetasPilares {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tarjetasPilares article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.75rem;
  gap: 1.875rem;
}
.tarjetasPilares article img {
  height: 10.3125rem;
  width: 10.25rem;
  border: solid 0.125rem black;
  border-radius: 1.5625rem;
}
.tarjetasPilares article h4 {
  padding: 0.625rem;
  border-top: solid 0.0625rem black;
  border-bottom: solid 0.0625rem black;
  font-size: 1.625rem;
}
.tarjetasPilares article p {
  width: 28rem;
  font-family: "Kaisei HarunoUmi", serif;
  text-align: center;
}

.cardConteiner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 37.5rem;
  gap: 9.375rem;
}

.card {
  width: 200px;
  height: 300px;
  background-color: rgb(185, 181, 181);
  border-radius: 1.5625rem;
  padding: 1.875rem;
}

.cardImagen {
  width: 100%;
  height: 50%;
}
.cardImagen img {
  width: 100%;
  height: 100%;
  border-radius: 0.9375rem;
}

.cardNombre {
  text-align: center;
  color: black;
  font-family: "Kaisei HarunoUmi", serif;
  padding-top: 3.125rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

/*# sourceMappingURL=style.css.map */
