@charset "UTF-8";
/*

Import de Utilities

*/
/*

Import de Base

*/
@import url("https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/* font-family: "Kaisei HarunoUmi", serif;
font-family: "Julius Sans One", system-ui; */
/*

Import de Layout

*/
.headerInicio div {
  background-color: rgb(185, 181, 181);
  font-family: "Kaisei HarunoUmi", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: rgb(72, 69, 69);
}
.headerInicio div img {
  width: 50px;
  border-radius: 100px;
  margin: 5px;
}
.headerInicio div a {
  color: rgb(72, 69, 69);
  text-decoration: none;
}

.navFondo {
  background-image: url(../assets/img/marbel\ nav.avif);
  background-position: center;
  font-family: "Julius Sans One", system-ui;
  margin: auto;
}
.navFondo img {
  width: 30px;
}

.navBarra {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 1.25rem;
  position: relative;
}
.navBarra li {
  position: relative;
}
.navBarra li a {
  text-decoration: none;
  color: black;
}

.menu-hamburguesa .menu-toggle {
  display: none;
}
.menu-hamburguesa .menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1.875rem;
  height: 1.5625rem;
  cursor: pointer;
}
.menu-hamburguesa .menu-icon span {
  display: block;
  height: 0.25rem;
  width: 100%;
  background-color: #333;
  border-radius: 0.125rem;
  transition: all 0.3s ease;
}
.menu-hamburguesa .menu-toggle:checked + .menu-icon span:nth-child(1) {
  transform: rotate(45deg) translateY(14.5px);
}
.menu-hamburguesa .menu-toggle:checked + .menu-icon span:nth-child(2) {
  opacity: 0;
}
.menu-hamburguesa .menu-toggle:checked + .menu-icon span:nth-child(3) {
  transform: rotate(-45deg) translateY(-14.5px);
}
.menu-hamburguesa .menu-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  background-image: url(../assets/img/marbel\ nav.avif);
  position: absolute;
  top: 2.5rem;
  right: 0;
  width: 12.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.menu-hamburguesa .menu-links li {
  border-bottom: 1px solid black;
}
.menu-hamburguesa .menu-links li:last-child {
  border-bottom: none;
}
.menu-hamburguesa .menu-links a {
  text-decoration: none;
  color: black;
  padding: 0.9375rem;
  display: block;
}
.menu-hamburguesa .menu-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-hamburguesa .menu-toggle:checked ~ .menu-links {
  display: flex;
}

.formBuscar {
  display: flex;
  align-items: center;
  border-radius: 25px;
  background-color: rgb(217, 217, 217);
  padding: 0.625rem;
  gap: 0.9375rem;
  width: 18.75rem;
}
.formBuscar input {
  background-color: rgb(217, 217, 217);
  border: none;
}
.formBuscar input:hover {
  border: none rgb(217, 217, 217) solid;
  font-weight: bold;
  color: rgba(185, 181, 181, 0.822);
}

a:hover {
  font-weight: bold;
  color: rgba(185, 181, 181, 0.822);
}

.logoPrincipio {
  background-image: url(../assets/img/fondo\ inicio.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
  font-family: "Kaisei HarunoUmi", serif;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: left;
}
.logoPrincipio div h2 {
  border: solid 2px black;
  border-radius: 0rem 3.125rem 3.125rem 0rem;
  background-color: rgb(185, 181, 181);
  color: rgb(72, 69, 69);
  width: 605px;
  font-size: 96px;
  padding-left: 20px;
  margin-bottom: 1.25rem;
}
.logoPrincipio div h3 {
  border: solid 2px black;
  border-radius: 0rem 3.125rem 3.125rem 0rem;
  background-color: rgb(185, 181, 181);
  color: rgb(72, 69, 69);
  width: 525px;
  font-size: 24px;
  padding-left: 20px;
  display: flex;
  justify-content: end;
}
.logoPrincipio div img {
  width: auto;
  height: 3.5rem;
  margin-top: 0.625rem;
}

.fondoFrase {
  background-image: url(../assets/img/marbel\ nav.avif);
  font-family: "Kaisei HarunoUmi", serif;
  height: 600px;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fondoFrase img {
  width: 33.5rem;
  height: 21.875rem;
  border-radius: 0.9375rem;
  border: solid 0.125rem black;
}
.fondoFrase article {
  border: solid 2px black;
  border-radius: 5.3125rem;
  background-color: rgb(217, 217, 217);
  width: 36.75rem;
  height: 15.375rem;
  padding: 20px;
}
.fondoFrase article p {
  margin: 25px;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.fondoPilares {
  background-image: url(../assets/img/marbel\ inicio\ fondo.avif);
  font-family: "Julius Sans One", system-ui;
  width: auto;
  height: 63.25rem;
}
.fondoPilares h3 {
  display: flex;
  justify-content: center;
  padding: 3.75rem;
  font-size: 1.625rem;
}

.fondoAboutUs {
  background-image: url(../assets/img/NYC\ foto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Kaisei HarunoUmi", serif;
  width: auto;
  height: 20rem;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fondoAboutUs div h2 {
  border-radius: 3.125rem;
  background-color: rgba(217, 217, 217, 0.5);
  padding: 1.25rem;
  width: 25rem;
  text-align: center;
}

.textoSobreNosotros {
  font-family: "Kaisei HarunoUmi", serif;
  background-image: url(../assets/img/marbel\ inicio\ fondo.avif);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.5rem;
}
.textoSobreNosotros img {
  width: auto;
}

.fundacionEmpresa, .motivacionesPlanes, .recorridosRealizados {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3.125rem;
  gap: 4.375rem;
}
.fundacionEmpresa div, .motivacionesPlanes div, .recorridosRealizados div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}
.fundacionEmpresa div h3, .motivacionesPlanes div h3, .recorridosRealizados div h3 {
  border-bottom: solid 0.125rem black;
  font-size: 1.75rem;
}
.fundacionEmpresa div p, .motivacionesPlanes div p, .recorridosRealizados div p {
  width: 25rem;
  text-align: center;
}
.fundacionEmpresa img, .motivacionesPlanes img, .recorridosRealizados img {
  width: 34.1875rem;
  height: 19.375rem;
  border-radius: 0.9375rem;
  border: solid 0.0625rem black;
}

.comentarios {
  font-family: "Kaisei HarunoUmi", serif;
  background-image: url(../assets/img/marbel\ inicio\ fondo.avif);
  height: auto;
}
.comentarios h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(185, 181, 181);
  height: 5.625rem;
}

.imagenComentarios {
  width: 17.625rem;
  height: 24.25rem;
  border: solid 0.125rem black;
  border-radius: 0.9375rem;
  grid-area: imagenComentarios;
}

.gridComentarios {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "comentario1 comentario2 imagenComentarios" "comentario3 comentario4 imagenComentarios" "comentario5 comentario6 imagenComentarios" "comentarioFinal comentarioFinal imagenComentarios";
  column-gap: 6.25rem;
  row-gap: 1.25rem;
  padding: 3.5rem;
  justify-items: center;
}

.comentario1, .comentario6, .comentario5, .comentario4, .comentario3, .comentario2 {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.625rem;
  grid-area: comentario1;
}
.comentario1 img, .comentario6 img, .comentario5 img, .comentario4 img, .comentario3 img, .comentario2 img {
  width: 2.375rem;
  border-radius: 100%;
  background-color: rgb(185, 181, 181);
  padding: 0.625rem;
}
.comentario1 p, .comentario6 p, .comentario5 p, .comentario4 p, .comentario3 p, .comentario2 p {
  border-radius: 1.875rem;
  background-color: rgb(204, 211, 238);
  padding: 0.9375rem;
  font-size: 1rem;
  width: 31.25rem;
}

.comentario2 {
  grid-area: comentario2;
}

.comentario3 {
  grid-area: comentario3;
}

.comentario4 {
  grid-area: comentario4;
}

.comentario5 {
  grid-area: comentario5;
}

.comentario6 {
  grid-area: comentario6;
}

.comentarioFinal {
  grid-area: comentarioFinal;
  width: 62.5rem;
  text-align: center;
  border-radius: 1.875rem;
  background-color: rgb(204, 211, 238);
  font-size: 1rem;
  padding: 0.9375rem;
}

.destinosInicio {
  background-image: url(../assets/img/fondo\ destinos.jpg);
  font-family: "Kaisei HarunoUmi", serif;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18.75rem;
  padding: 2.5rem;
}
.destinosInicio h2 {
  color: white;
  font-size: 8rem;
  position: relative;
  display: inline-block;
}
.destinosInicio .letraO {
  position: relative;
}
.destinosInicio .letraO img {
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 15.625rem;
  height: 15rem;
  pointer-events: none;
}

.fondoDestinos {
  font-family: "Kaisei HarunoUmi", serif;
  background-image: url(../assets/img/fondo\ destinos\ marbel.jpg);
  color: white;
  background-size: cover;
  padding: 3.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 4.375rem;
}
.fondoDestinos h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.25rem;
  background-image: url(../assets/img/marbel-destinos.jpg);
  background-size: cover;
  border-radius: 1.5625rem;
  width: 22.875rem;
  height: 4.8125rem;
}

.fondoReservas {
  background-image: url(../assets/img/fondo\ marbel\ rservas.jpg);
  font-family: "Kaisei HarunoUmi", serif;
  height: 56.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7.5rem;
  padding: 9.375rem;
}

.tituloReservas {
  font-size: 2.5rem;
}

.reservasFormEstilos {
  background-color: rgb(203, 196, 196);
  border-radius: 1.5625rem;
  padding: 1.875rem;
}

.reservasForm {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: none;
  grid-template-areas: "gridReservas-1 gridReservas-1 gridReservas-1" "gridReservas-2 none gridReservas-3";
  column-gap: 3.75rem;
  row-gap: 0.625rem;
  padding-bottom: 1.25rem;
}

.reservasForm input:hover {
  font-weight: bold;
}

.reservasForm select:hover {
  font-weight: bold;
}

.gridReservas-1 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "cantPersonas fechaInicio fechaRegreso" "selector fechaInicioInput fechaRegresoInput";
  column-gap: 0.9375rem;
  padding: 0.625rem;
  grid-area: gridReservas-1;
  gap: 0.3125rem;
}

.gridReservas-1 input {
  border-radius: 1.5625rem;
  background-color: rgb(217, 217, 217);
  border: none;
  padding: 0.3125rem;
}

.gridReservas-1 select {
  border-radius: 1.5625rem;
  background-color: rgb(217, 217, 217);
  border: none;
  padding: 0.3125rem;
}

.cantPersonas {
  grid-area: cantPersonas;
}

.selector {
  grid-area: selector;
  width: 6.25rem;
}

.fechaInicio {
  grid-area: fechaInicio;
  text-align: center;
}

.fechaInicioInput {
  grid-area: fechaInicioInput;
}

.fechaRegreso {
  grid-area: fechaRegreso;
  text-align: center;
}

.fechaRegresoInput {
  grid-area: fechaRegresoInput;
}

.gridReservas-2 {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: none;
  grid-template-areas: "destino" "pais" "paisInput" "ciudad" "ciudadInput" "hotel" "hotelInput" "aerolinea" "aerolineaInput" "reservasInput";
  grid-area: gridReservas-2;
  padding: 0.625rem;
  row-gap: 0.625rem;
}

.gridReservas-2 input {
  border-radius: 1.5625rem;
  background-color: rgb(217, 217, 217);
  border: none;
  padding: 0.625rem;
}

.destino {
  grid-area: destino;
}

.pais {
  grid-area: pais;
}

.paisInput {
  grid-area: paisInput;
  width: 15.625rem;
}

.ciudad {
  grid-area: ciudad;
}

.ciudadInput {
  grid-area: ciudadInput;
  width: 15.625rem;
}

.hotel {
  grid-area: hotel;
}

.hotelInput {
  grid-area: hotelInput;
  width: 15.625rem;
}

.aerolinea {
  grid-area: aerolinea;
}

.aerolineaInput {
  grid-area: aerolineaInput;
  width: 15.625rem;
}

.reservasInput {
  grid-area: reservasInput;
  width: 6.25rem;
  text-align: center;
}

.gridReservas-3 {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: none;
  grid-template-areas: "datos" "nombreIntegrante" "nombreIntegranteInput" "apellidoIntegrante" "apellidoIntegranteInput" "edadIntegrante" "edadIntegranteInput" "dni" "dniInput" "numeroTelefono" "numeroTelefonoInput";
  grid-area: gridReservas-3;
  border-left: solid black 2px;
  padding-left: 1.25rem;
  row-gap: 0.625rem;
}

.gridReservas-3 input {
  border-radius: 1.5625rem;
  background-color: rgb(217, 217, 217);
  border: none;
  padding: 0.625rem;
}

.datos {
  grid-area: datos;
}

.nombreIntegrante {
  grid-area: nombreIntegrante;
}

.nombreIntegranteInput {
  grid-area: nombreIntegranteInput;
  width: 15.625rem;
}

.apellidoIntegrante {
  grid-area: apellidoIntegrante;
}

.apellidoIntegranteInput {
  grid-area: apellidoIntegranteInput;
  width: 15.625rem;
}

.edadIntegrante {
  grid-area: edadIntegrante;
}

.edadIntegranteInput {
  grid-area: edadIntegranteInput;
  width: 15.625rem;
}

.dni {
  grid-area: dni;
}

.dniInput {
  grid-area: dniInput;
  width: 15.625rem;
}

.numeroTelefono {
  grid-area: numeroTelefono;
}

.numeroTelefonoInput {
  grid-area: numeroTelefonoInput;
  width: 15.625rem;
}

.fondoFormularios {
  background-image: url(../assets/img/fondo\ formularios.jpg);
  font-family: "Kaisei HarunoUmi", serif;
  height: 56.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7.5rem;
  padding: 9.375rem;
}

.tituloRegistrarse {
  font-size: 2rem;
}

.formularioRegistrarse {
  border-radius: 1.5625rem;
  background-color: rgb(203, 196, 196);
  width: 37.5rem;
  height: 22.4375rem;
  padding: 40px;
}

.gridsForm {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: extend(5, auto);
  grid-template-areas: "usuario perfil" "mail ingresePerfil" "contraseña fotoPerfil" "repiteContraseña none" "registrarse none";
  row-gap: 0.9375rem;
  column-gap: 2.5rem;
}
.gridsForm input {
  border-radius: 1.5625rem;
  background-color: rgb(217, 217, 217);
  border: none;
  padding: 0.625rem;
}
.gridsForm input:hover {
  font-weight: bold;
}

.usuario {
  grid-area: usuario;
}

.mail {
  grid-area: mail;
}

.contraseña {
  grid-area: contraseña;
}

.repiteContraseña {
  grid-area: repiteContraseña;
}

.perfil {
  grid-area: perfil;
  text-align: center;
}

.ingresePerfil {
  grid-area: ingresePerfil;
  text-align: center;
}

.fotoPerfil {
  grid-area: fotoPerfil;
}

.registrarse {
  grid-area: registrarse;
}

.fondoFormularioIniciar {
  background-image: url(../assets/img/fondo\ formularios.jpg);
  font-family: "Kaisei HarunoUmi", serif;
  height: 56.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7.5rem;
  padding: 9.375rem;
}

.tituloIniciarSesion {
  font-size: 2rem;
}

.formularioIniciarSesion {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5625rem;
  background-color: rgb(203, 196, 196);
  width: 31.25rem;
  height: 18.75rem;
  text-align: center;
}
.formularioIniciarSesion div form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.formularioIniciarSesion div form input {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5625rem;
  background-color: rgb(217, 217, 217);
  border: none;
  padding: 0.625rem;
}
.formularioIniciarSesion div form input:hover {
  font-weight: bold;
}

@media (max-width: 768px) {
  .headerInicio div {
    padding: 0.9375rem;
  }
  .headerInicio div img {
    width: 40px;
  }
  .headerInicio div a {
    font-size: 0.875rem;
  }
}
@media (max-width: 480px) {
  .headerInicio div {
    padding: 0.625rem;
  }
  .headerInicio div img {
    width: 1.875rem;
  }
  .headerInicio div a {
    font-size: 0.625rem;
  }
}
@media (max-width: 768px) {
  .navBarra {
    padding: 0.625rem;
    gap: 1rem;
  }
  .navBarra li a {
    font-size: 0.875rem;
  }
  .formBuscar {
    width: 15rem;
  }
  .navFondo img {
    width: 25px;
  }
}
@media (max-width: 670px) {
  .navBarra {
    padding: 0.5rem;
    gap: 0.75rem;
  }
  .navBarra li a {
    font-size: 0.75rem;
  }
  .formBuscar {
    width: 7.5rem;
  }
  .formBuscar input {
    font-size: 0.75rem;
    width: 5rem;
  }
  .navFondo img {
    width: 1.375rem;
  }
}
@media (max-width: 480px) {
  .navBarra {
    padding: 0.3125rem;
    gap: 0.5rem;
  }
  .navBarra li a {
    font-size: 0.5rem;
  }
  .menu-hamburguesa .menu-icon {
    width: 0.9375rem;
    height: 0.9375rem;
  }
  .formBuscar {
    width: 6rem;
    padding: 0.3125rem;
  }
  .formBuscar input {
    font-size: 8px;
    width: 3rem;
  }
  .navFondo img {
    width: 1rem;
  }
}
@media (max-width: 768px) {
  footer {
    font-size: 0.75rem;
    padding: 0.75rem;
  }
  footer img {
    width: 3.125rem;
  }
}
@media (max-width: 420px) {
  footer {
    font-size: 0.625rem;
    padding: 0.625rem;
  }
  footer img {
    width: 2.5rem;
  }
}
@media (max-width: 1024px) {
  .fondoFormularios {
    height: 50rem;
  }
  .formularioRegistrarse {
    width: 32rem;
    padding: 1.875rem;
  }
  .tituloRegistrarse {
    font-size: 1.5rem;
  }
  .gridsForm {
    column-gap: 2rem;
  }
  .gridsForm p {
    font-size: 1rem;
  }
  .gridsForm p input {
    width: 12.5rem;
    padding: 0.5rem;
  }
  .gridsForm .fotoPerfil {
    width: 12.5rem;
  }
}
@media (max-width: 768px) {
  .fondoFormularios {
    height: 40rem;
  }
  .formularioRegistrarse {
    width: 25rem;
    padding: 20px;
  }
  .tituloRegistrarse {
    font-size: 1.25rem;
  }
  .gridsForm {
    column-gap: 1.5rem;
  }
  .gridsForm p input {
    width: 8.75rem;
    padding: 0.5rem;
  }
  .gridsForm .fotoPerfil {
    width: 11.5rem;
  }
}
@media (max-width: 484px) {
  .fondoFormularios {
    height: 30rem;
  }
  .formularioRegistrarse {
    width: 20rem;
    padding: 0.9375rem;
  }
  .tituloRegistrarse {
    font-size: 1.4rem;
  }
  .gridsForm {
    column-gap: 1rem;
  }
  .gridsForm p {
    font-size: 0.75rem;
  }
  .gridsForm p input {
    width: 6.25rem;
    padding: 0.4rem;
    font-size: 0.75rem;
  }
  .gridsForm .fotoPerfil {
    width: 10rem;
  }
  .gridsForm .registrarse {
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  .fondoFormularios {
    height: 30rem;
  }
  .formularioRegistrarse {
    width: 16rem;
    padding: 0.75rem;
  }
  .tituloRegistrarse {
    font-size: 1.125rem;
  }
  .gridsForm {
    column-gap: 1rem;
  }
  .gridsForm p {
    font-size: 0.75rem;
  }
  .gridsForm p input {
    width: 5rem;
    padding: 0.4rem;
    font-size: 0.5rem;
  }
  .gridsForm .fotoPerfil {
    width: 6rem;
    font-size: 0.5rem;
  }
  .gridsForm .registrarse {
    font-size: 0.625rem;
  }
}
@media (max-width: 1024px) {
  .fondoFormularioIniciar {
    height: 50rem; /* Ajuste de altura */
  }
  .formularioIniciarSesion {
    width: 28rem;
    height: 18rem;
  }
  .tituloIniciarSesion {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .fondoFormularioIniciar {
    height: 40rem;
  }
  .formularioIniciarSesion {
    width: 18rem;
    height: 14rem;
    padding: 0.625rem;
  }
  .formularioIniciarSesion div form {
    gap: 1.25rem;
  }
  .formularioIniciarSesion div form input {
    padding: 0.5rem;
    font-size: 0.75rem;
  }
  .tituloIniciarSesion {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 420px) {
  .fondoFormularioIniciar {
    height: 25rem;
    gap: 3.75rem;
  }
  .formularioIniciarSesion {
    width: 14rem;
    height: 12rem;
  }
  .formularioIniciarSesion div form {
    gap: 1rem;
    font-size: 0.75rem;
  }
  .formularioIniciarSesion div form input {
    padding: 0.4rem;
    font-size: 0.625rem;
    width: 6.25rem;
  }
  .tituloIniciarSesion {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .fondoReservas {
    height: 50rem;
    padding: 6rem;
    gap: 6rem;
  }
  .tituloReservas {
    font-size: 1.75rem;
  }
  .reservasForm {
    column-gap: 1.5rem;
    font-size: 0.875rem;
    width: 37.5rem;
  }
  .gridReservas-1, .gridReservas-2, .gridReservas-3 {
    padding: 0.5rem;
  }
  .gridReservas-1 input, .gridReservas-2 input, .gridReservas-3 input {
    width: 12.5rem;
  }
}
@media (max-width: 768px) {
  .fondoReservas {
    height: 50rem;
    padding: 4rem;
    gap: 6rem;
  }
  .tituloReservas {
    font-size: 1.5rem;
  }
  .reservasForm {
    column-gap: 0.875rem;
    font-size: 0.75rem;
    width: 31.25rem;
  }
  .gridReservas-1, .gridReservas-2, .gridReservas-3 {
    padding: 0.375rem;
  }
  .gridReservas-1 input, .gridReservas-2 input, .gridReservas-3 input {
    width: 9.375rem;
    padding: 0.5rem;
  }
  .gridReservas-2 {
    width: 6.25rem;
  }
}
@media (max-width: 628px) {
  .tituloReservas {
    font-size: 1.25rem;
  }
  .reservasForm {
    column-gap: 0.875rem;
    font-size: 0.75rem;
    width: 26.5625rem;
  }
  .reservasFormEstilos {
    padding: 1.375rem;
  }
  .gridReservas-1, .gridReservas-2, .gridReservas-3 {
    padding: 0.375rem;
  }
  .gridReservas-1 input, .gridReservas-2 input, .gridReservas-3 input {
    width: 6.25rem;
    padding: 0.5rem;
    font-size: 0.5rem;
  }
  .gridReservas-1 {
    gap: 2px;
    width: 25rem;
  }
  .gridReservas-2 {
    width: 6.25rem;
  }
}
@media (max-width: 520px) {
  .fondoReservas {
    height: 50rem;
    gap: 2.5rem;
  }
  .tituloReservas {
    font-size: 1rem;
  }
  .reservasForm {
    column-gap: 0.75rem;
    font-size: 0.625rem;
    width: 18.75rem;
    display: grid;
    grid-template-areas: "gridReservas-1" "gridReservas-2" "gridReservas-3";
    column-gap: 1rem;
    row-gap: 16px;
  }
  .reservasFormEstilos {
    padding: 1.375rem;
  }
  .gridReservas-1, .gridReservas-2, .gridReservas-3 {
    padding: 0.5rem;
    grid-template-columns: 1fr;
  }
  .gridReservas-1 input, .gridReservas-2 input, .gridReservas-3 input {
    width: 5rem;
    padding: 0.375rem;
    font-size: 0.5rem;
  }
  .gridReservas-1 {
    gap: none;
    width: 18.75rem;
    font-size: 0.5rem;
    column-gap: none;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }
  .gridReservas-2 {
    width: 5rem;
  }
  .gridReservas-3 {
    border: none;
  }
}
@media (max-width: 420px) {
  .fondoReservas {
    height: 50rem;
    gap: 1.25rem;
  }
  .tituloReservas {
    font-size: 0.875rem;
  }
  .reservasForm {
    width: 12.5rem;
    gap: 0.25rem;
  }
  .gridReservas-1, .gridReservas-2, .gridReservas-3 {
    padding: 0.125rem;
    grid-template-columns: 1fr;
  }
  .gridReservas-1 input, .gridReservas-2 input, .gridReservas-3 input {
    width: 5rem;
    padding: 0.375rem;
    font-size: 0.5rem;
  }
  .gridReservas-1 {
    gap: none;
    width: 15.625rem;
    font-size: 0.5rem;
    grid-template-areas: "cantPersonas selector" "fechaInicio fechaInicioInput" "fechaRegreso fechaRegresoInput";
    row-gap: 0.25rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .datos {
    grid-area: datos;
    width: 9.375rem;
  }
  .nombreIntegrante {
    grid-area: nombreIntegrante;
    width: 9.375rem;
  }
  .apellidoIntegrante {
    grid-area: apellidoIntegrante;
    width: 9.375rem;
  }
  .edadIntegrante {
    grid-area: edadIntegrante;
    width: 9.375rem;
  }
  .dni {
    grid-area: dni;
    width: 5rem;
  }
  .numeroTelefono {
    grid-area: numeroTelefono;
    width: 9.375rem;
  }
}
@media (max-width: 1024px) {
  .logoPrincipio {
    background-size: 100% 100%;
    background-position: center;
    height: 32.875rem;
    width: 100%;
  }
  .logoPrincipio div h2 {
    width: 31.25rem;
    font-size: 5.125rem;
  }
  .logoPrincipio div h3 {
    width: 26.25rem;
    font-size: 1.125rem;
  }
  .fondoFrase img {
    width: 21.875rem;
    height: 17.5rem;
  }
  .fondoFrase article {
    width: 28rem;
    height: 12.5rem;
  }
  .fondoFrase article p {
    font-size: 1.25rem;
  }
  .fondoPilares h3 {
    padding-top: 3.75rem;
  }
}
@media (max-width: 768px) {
  .logoPrincipio {
    background-size: 100% 100%;
    height: 26.25rem;
  }
  .logoPrincipio div h2 {
    width: 22rem;
    font-size: 3.5rem;
  }
  .logoPrincipio div h3 {
    width: 20rem;
    font-size: 0.875rem;
  }
  .logoPrincipio div img {
    width: 5.125rem;
    height: 2.5rem;
    margin-top: 0.25rem;
  }
  .fondoFrase {
    height: 18rem;
  }
  .fondoFrase img {
    width: 15rem;
    height: 9.125rem;
  }
  .fondoFrase article {
    width: 17.6875rem;
    height: 7.6875rem;
    padding: 0.625rem;
  }
  .fondoFrase article p {
    font-size: 0.75rem;
    margin: 0.9375rem;
  }
  .fondoPilares {
    height: auto;
  }
  .fondoPilares h3 {
    padding: 1.875rem;
    font-size: 1.125rem;
  }
}
@media (max-width: 425px) {
  .logoPrincipio {
    background-size: 100% 100%;
    height: 13.75rem;
  }
  .logoPrincipio div h2 {
    width: 9.375rem;
    font-size: 1.5rem;
    padding-left: 0.625rem;
    border: 0.5px black solid;
  }
  .logoPrincipio div h3 {
    width: 7.5rem;
    font-size: 0.5rem;
    padding-left: 0.3125rem;
    border: 0.5px black solid;
  }
  .logoPrincipio div img {
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 0rem;
  }
  .fondoFrase {
    height: 15rem;
  }
  .fondoFrase img {
    width: 8.125rem;
    height: 6.5625rem;
    border: 0.5px black solid;
  }
  .fondoFrase article {
    width: 8.125rem;
    height: 5.375rem;
    border: 0.5px black solid;
  }
  .fondoFrase article p {
    font-size: 0.375rem;
    margin: 0.75rem;
  }
  .fondoPilares {
    height: auto;
  }
  .fondoPilares h3 {
    font-size: 0.75rem;
  }
}
@media (max-width: 1440px) {
  .gridComentarios {
    column-gap: 3.125rem;
    row-gap: 0.9375rem;
    padding: 2.8125rem;
  }
  .comentario1 p, .comentario2 p, .comentario3 p, .comentario4 p, .comentario5 p, .comentario6 p {
    padding: 0.625rem;
    width: 25rem;
  }
  .comentarioFinal {
    padding: 0.625rem;
    width: 50rem;
  }
}
@media (max-width: 1024px) {
  .fundacionEmpresa, .recorridosRealizados, .motivacionesPlanes {
    gap: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fundacionEmpresa div h3, .recorridosRealizados div h3, .motivacionesPlanes div h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  .fundacionEmpresa img, .recorridosRealizados img, .motivacionesPlanes img {
    width: 30rem;
    height: 18.625rem;
  }
  .comentarios h2 {
    font-size: 1.375rem;
  }
  .imagenComentarios {
    width: 12.5rem;
    height: 20rem;
  }
  .gridComentarios {
    column-gap: 1.5625rem;
    row-gap: 0.625rem;
    padding: 1.875rem;
  }
  .comentario1 p, .comentario2 p, .comentario3 p, .comentario4 p, .comentario5 p, .comentario6 p {
    width: 15.625rem;
    font-size: 0.875rem;
  }
  .comentario1 img, .comentario2 img, .comentario3 img, .comentario4 img, .comentario5 img, .comentario6 img {
    width: 1.875rem;
  }
  .comentarioFinal {
    padding: 0.625rem;
    width: 37.5rem;
    font-size: 0.875rem;
  }
}
@media (max-width: 768px) {
  .fondoAboutUs div h2 {
    font-size: 1.25rem;
    width: 18.75rem;
  }
  .fundacionEmpresa, .recorridosRealizados, .motivacionesPlanes {
    gap: 5rem;
  }
  .fundacionEmpresa div, .recorridosRealizados div, .motivacionesPlanes div {
    gap: 0.9375rem;
  }
  .fundacionEmpresa div h3, .recorridosRealizados div h3, .motivacionesPlanes div h3 {
    font-size: 1.125rem;
    text-align: center;
  }
  .fundacionEmpresa div p, .recorridosRealizados div p, .motivacionesPlanes div p {
    font-size: 0.875rem;
    width: 15.625rem;
  }
  .fundacionEmpresa img, .recorridosRealizados img, .motivacionesPlanes img {
    width: 18.75rem;
    height: 13.75rem;
  }
  .comentarios h2 {
    font-size: 1.125rem;
  }
  .imagenComentarios {
    width: 9.375rem;
    height: 15.625rem;
    align-self: center;
  }
  .gridComentarios {
    column-gap: 0.9375rem;
    row-gap: 0.625rem;
    padding: 0.9375rem;
  }
  .comentario1 p, .comentario2 p, .comentario3 p, .comentario4 p, .comentario5 p, .comentario6 p {
    width: 12.5rem;
    font-size: 0.75rem;
  }
  .comentario1 img, .comentario2 img, .comentario3 img, .comentario4 img, .comentario5 img, .comentario6 img {
    width: 1.5625rem;
  }
  .comentarioFinal {
    padding: 0.625rem;
    width: 28.125rem;
    font-size: 0.75rem;
  }
}
@media (max-width: 425px) {
  .fondoAboutUs {
    height: 240px;
  }
  .fondoAboutUs div h2 {
    font-size: 0.875rem;
    width: 12.5rem;
  }
  .fundacionEmpresa, .recorridosRealizados, .motivacionesPlanes {
    gap: 3.125rem;
    padding: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .fundacionEmpresa div, .recorridosRealizados div, .motivacionesPlanes div {
    gap: 0.9375rem;
  }
  .fundacionEmpresa div h3, .recorridosRealizados div h3, .motivacionesPlanes div h3 {
    font-size: 0.875rem;
    text-align: center;
  }
  .fundacionEmpresa div p, .recorridosRealizados div p, .motivacionesPlanes div p {
    font-size: 0.75rem;
    width: 15.625rem;
  }
  .fundacionEmpresa img, .recorridosRealizados img, .motivacionesPlanes img {
    width: 12.5rem;
    height: 10.625rem;
  }
  .recorridosRealizados {
    flex-direction: column-reverse;
  }
  .comentarios h2 {
    font-size: 0.875rem;
    text-align: center;
  }
  .imagenComentarios {
    width: 5rem;
    height: 9.375rem;
    align-self: center;
  }
  .gridComentarios {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "comentario1 imagenComentarios" "comentario2 imagenComentarios" "comentario3 imagenComentarios" "comentarioFinal imagenComentarios";
    column-gap: 0.3125rem;
    row-gap: 0.625rem;
    padding: 0.9375rem;
  }
  .comentario1, .comentario2, .comentario3, .comentario4, .comentario5, .comentario6 {
    gap: 0.3125rem;
  }
  .comentario1 p, .comentario2 p, .comentario3 p, .comentario4 p, .comentario5 p, .comentario6 p {
    width: 9.375rem;
    font-size: 0.5rem;
  }
  .comentario1 img, .comentario2 img, .comentario3 img, .comentario4 img, .comentario5 img, .comentario6 img {
    width: 0.9375rem;
  }
  .comentario4 {
    display: none;
  }
  .comentario5 {
    display: none;
  }
  .comentario6 {
    display: none;
  }
  .comentarioFinal {
    padding: 0.625rem;
    width: 12.5rem;
    font-size: 0.5rem;
  }
}
@media (max-width: 1440px) {
  .fondoDestinos h3 {
    font-size: 2rem;
    width: 18.75rem;
  }
}
@media (max-width: 1024px) {
  .destinosInicio h2 {
    font-size: 5.375rem;
  }
  .destinosInicio .letraO img {
    width: 9.375rem;
    height: 9.375rem;
  }
  .fondoDestinos {
    gap: 2.5rem;
  }
}
@media (max-width: 768px) {
  .fondoDestinos {
    gap: 1.875rem;
  }
}
@media (max-width: 425px) {
  .destinosInicio {
    height: 9.375rem;
  }
  .destinosInicio h2 {
    font-size: 2rem;
  }
  .destinosInicio .letraO img {
    width: 4.375rem;
    height: 4.375rem;
  }
  .fondoDestinos {
    gap: 10.625rem;
    height: 191.25rem;
  }
  .fondoDestinos h3 {
    font-size: 1.25rem;
    height: 5rem;
    width: 10rem;
    text-align: center;
  }
}
footer {
  background-color: rgb(185, 181, 181);
  font-family: "Julius Sans One", system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
footer img {
  width: 60px;
}

/*

Import de Components

*/
.tarjetasPilares {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tarjetasPilares article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.75rem;
  gap: 1.875rem;
}
.tarjetasPilares article img {
  height: 10.3125rem;
  width: 10.25rem;
  border: solid 0.125rem black;
  border-radius: 1.5625rem;
}
.tarjetasPilares article h4 {
  padding: 0.625rem;
  border-top: solid 0.0625rem black;
  border-bottom: solid 0.0625rem black;
  font-size: 1.625rem;
}
.tarjetasPilares article p {
  width: 28rem;
  font-family: "Kaisei HarunoUmi", serif;
  text-align: center;
}

.cardConteiner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 37.5rem;
  gap: 9.375rem;
}

.card {
  width: 200px;
  height: 300px;
  background-color: rgb(185, 181, 181);
  border-radius: 1.5625rem;
  padding: 1.875rem;
}

.cardImagen {
  width: 100%;
  height: 50%;
}
.cardImagen img {
  width: 100%;
  height: 100%;
  border-radius: 0.9375rem;
}

.cardNombre {
  text-align: center;
  color: black;
  font-family: "Kaisei HarunoUmi", serif;
  padding-top: 3.125rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

@media (max-width: 1440px) {
  .tarjetasPilares {
    width: auto;
  }
  .tarjetasPilares article {
    width: 18.75rem;
    font-size: 1rem;
  }
  .tarjetasPilares article p {
    width: auto;
  }
}
@media (max-width: 1024px) {
  .tarjetasPilares article {
    width: 18.75rem;
    font-size: 1rem;
    gap: 0.9375rem;
    padding: 1.875rem;
  }
  .tarjetasPilares article p {
    width: auto;
  }
}
@media (max-width: 768px) {
  .tarjetasPilares {
    padding: 0.625rem;
  }
  .tarjetasPilares article {
    width: 17.1875rem;
    height: 100%;
    font-size: 0.875rem;
    padding: 0.9375rem;
  }
  .tarjetasPilares article img {
    width: 5.125rem;
    height: 4.75rem;
  }
  .tarjetasPilares article p {
    width: auto;
    font-size: small;
  }
}
@media (max-width: 425px) {
  .tarjetasPilares {
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tarjetasPilares article {
    width: 17.1875rem;
    font-size: 0.625rem;
    padding: 0.9375rem;
  }
  .tarjetasPilares article img {
    width: 3.375rem;
    height: 3.625rem;
    border: 0.5px black solid;
  }
  .tarjetasPilares article h4 {
    font-size: 0.75rem;
  }
  .tarjetasPilares article p {
    width: auto;
    font-size: 0.625rem;
  }
}
@media (max-width: 1440px) {
  .cardConteiner {
    gap: 3.75rem;
    display: flex;
    justify-content: center;
  }
  .card {
    width: 11.25rem;
    height: 17.5rem;
  }
}
@media (max-width: 1024px) {
  .cardConteiner {
    gap: 2.5rem;
  }
  .card {
    width: 6.25rem;
    height: 11.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cardImagen {
    height: 5.625rem;
  }
  .cardNombre {
    width: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5625rem;
  }
  .cardNombre p {
    width: 6.25rem;
  }
}
@media (max-width: 768px) {
  .cardConteiner {
    gap: 1.25rem;
  }
  .card {
    width: 5rem;
    height: 9.375rem;
  }
  .cardImagen {
    height: 5rem;
  }
  .cardNombre {
    width: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5625rem;
  }
  .cardNombre p {
    font-size: 0.875rem;
  }
}
@media (max-width: 425px) {
  .cardConteiner {
    gap: 1.5625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 5rem;
    height: 6.25rem;
  }
  .cardImagen {
    height: 60px;
  }
  .cardNombre {
    width: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5625rem;
  }
  .cardNombre p {
    font-size: 0.625rem;
  }
}

/*# sourceMappingURL=style.css.map */
