@media(max-width:1024px){
    .destinosInicio{
        h2{
            font-size: 5.375rem;
        }
        .letraO{
            img{
                width: 9.375rem;
                height: 9.375rem;
            }
        }
    }

    .fondoDestinos{
        gap: 2.5rem;
    }
}