@media (max-width: 480px){
    .headerInicio{
        div{
            padding: .625rem;
            img{
                width: 1.875rem;
            }
            a{
                font-size: .875rem; 
            }
        }
    }
}