@media (max-width:480px){
    .navBarra {
        padding: .3125rem;
        gap: .5rem;
        li{
            a{
                font-size: .5rem;
            }
        }
    }

    .menu-hamburguesa{
        .menu-icon{
            width: .9375rem;
            height: .9375rem ;
        }
    }
    
    .formBuscar {
        width: 6rem;
        padding: .3125rem;
        input{
            font-size: 8px;
            width: 3rem ;
        }
    }
    
    .navFondo{
        img {
            width: 1rem
        }
    }
}
