.navBarra {
    padding: .625rem;
    gap: 1rem;
    li{
        a{
            font-size: .875rem;
        }
    }
}

.formBuscar {
    width: 15rem;
}

.navFondo{
    img {
        width: 25px;
    }
}