@media(max-width: 1024px) {
    .fondoFormularioIniciar {
        height: 50rem; /* Ajuste de altura */
    }
    
    .formularioIniciarSesion {
        width: 28rem; 
        height: 18rem; 
    }

    .tituloIniciarSesion {
        font-size: 1.5rem;
    }
}