@media(max-width:420px){
    .fondoReservas{
        height: 50rem;
        gap: 1.25rem;
    }

    .tituloReservas {
        font-size: .875rem;
    }

    .reservasForm {
        width: 12.5rem;
        gap: .25rem;
    }

    .gridReservas-1, .gridReservas-2, .gridReservas-3 {
        padding: .125rem;
        grid-template-columns: 1fr;
        input{
            width: 5rem;
            padding: .375rem;
            font-size: .5rem;
        }
    }

    .gridReservas-1{
        gap: none;
        width: 15.625rem;
        font-size: .5rem;
        grid-template-areas:
        "cantPersonas selector"
        "fechaInicio fechaInicioInput"
        "fechaRegreso fechaRegresoInput";
        row-gap: .25rem;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    .datos{
        grid-area: datos;
        width: 9.375rem;
    }

    .nombreIntegrante{
        grid-area: nombreIntegrante;
        width: 9.375rem;
    }

    .apellidoIntegrante{
        grid-area: apellidoIntegrante;
        width: 9.375rem;
    }
    
    .edadIntegrante{
        grid-area: edadIntegrante;
        width: 9.375rem;
    }

    .dni{
        grid-area: dni;
        width: 5rem;
    }

    .numeroTelefono{
        grid-area: numeroTelefono;
        width: 9.375rem;
    }
}