@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin grid($col, $row, $areas){
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    grid-template-areas: $areas ;
}

@mixin flexColum{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7.5rem;
    padding: 9.375rem;
}