footer {
    background-color:rgb(185,181,181);
    font-family: "Julius Sans One", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    img{
        width: 60px;
    }
}