.headerInicio {
    div{
        background-color: map-get($color, primario );
        font-family: "Kaisei HarunoUmi", serif;
        @include flexCenter;
        padding: 20px;
        color: map-get($color ,terciario );
        img {
            width: 50px;
            border-radius: 100px;
            margin: 5px;
        }
        a{
            color: map-get($color, terciario );
            text-decoration: none;
        }
    }
  
}