.navFondo {
    background-image: url(../assets/img/marbel\ nav.avif);
    font-family: "Julius Sans One", system-ui;
    margin: auto;
    img{
        width: 30px;
    }
}

.navBarra{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 20px;
    position: relative;
    li{
        position: relative;
        a{
            text-decoration: none;
            color: black;
        }
        ul{
            position: absolute; 
            top: 100%; 
            left: 0;
            height: 0;
            overflow: hidden;
            list-style: none;
            background-image: url(../assets/img/marbel\ nav.avif); 
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
            transition: max-height 0.3s ease;
            z-index: 1;
            gap: .625rem;
            li{
                padding: 5px 10px;
            }
        }
        :hover{
            ul{
                display: flex;
                flex-direction: column;
                justify-content: right;
                padding: 10px 0;
                height: auto;
            }
        }
    }
}

.formBuscar {
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: rgb(217 217 217);
    padding: .625rem;
    gap: .9375rem;
    width: 18.75rem;
    input{
        background-color: rgb(217 217 217);
        border: none;
        :hover{
            border: none rgb(217 217 217) solid;
            font-weight: bold;
            color: rgba(185, 181, 181, 0.822);
        }
    }
}

