.destinosInicio {
    background-image: url(../assets/img/fondo\ destinos.jpg);
    font-family: "Kaisei HarunoUmi", serif;
    background-size: cover;
    @include flexCenter;
    height: 18.75rem;
    padding: 2.5rem;
    position: relative;
    h2{
        color: white;
        font-size: 8rem;
        position: relative; 
        display: inline-block;
    }
    .letraO {
        position: relative; 

        img {
            position: absolute;
            top: 55%; 
            left: 40%; 
            transform: translate(-50%, -50%); 
            width: 15.625rem; 
            height: 15rem;
            pointer-events: none; 
        }
    }
}
.fondoDestinos {
    font-family: "Kaisei HarunoUmi", serif;
    background-image: url(../assets/img/fondo\ destinos\ marbel.jpg);
    color: white;
    background-size: cover;
    padding: 3.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 4.375rem;
    h3{
        @include flexCenter;
        font-size: 2.25rem;
        background-image: url(../assets/img/marbel-destinos.jpg);
        background-size: cover;
        border-radius: 1.5625rem;
        width: 22.875rem;
        height: 4.8125rem;
    }
}