@media (max-width:1024px){
    .tarjetasPilares{
        
        article{
            width: 18.75rem;
            font-size: 1rem;
            gap: .9375rem;
            padding: 1.875rem;
            p{
                width: auto;
            }
        }
    }
}